// destop
@media only screen and (max-width:1280px){
  html{
    scroll-behavior: smooth;
    font-size: 50%;
  }

  #form{
    .record{
     .message{
      textarea{
        width: 520px;
      }
     }
    }
   }
 
}
//  moblie
@media only screen and (max-width: 767px) {
    .gridhalf{
    grid-template-columns: 100%;
  }
  header{
    
    & .nav{
      padding: 1.7rem 2rem;
      & .logo{
        width: 22%;
      }
      & .open-menu{
        display: block !important;
        background-color: $tintblue-color;
        color: $white-color !important;
        cursor: pointer;

        &.notShowMenu {
          display: block;
          }
      }

     & .close-menu{
      display: none !important;
        cursor: pointer;
        color: $white-color !important;
        background-color: $tintblue-color;
    
        &.notShowMenu {
          display: block;
          }
      }

      & .list{
        position: fixed;
        z-index: 1000;
        top: 50px;
        right: -100%;
        flex-direction: column;
        padding: 5rem 2.5rem;
        width: 70%;
        height: 500px;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        background-color: $Darkblue-color;
        // background: transparent;
        backdrop-filter: blur(10px);
        box-shadow: 0 5px 30px rgba(39, 40, 41, 0.6);
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out; 
            
            .items:not(:last-child){
              margin-bottom: 2rem;
            }
  
            a{
              color: $white-color;
              font-size: 1.6rem;
            }
  
  
            &.show{
              right: 0;
            }
      }
    }
  }

  #readcase{
    .container{
     .key{
       display: none;
     }
    }
   }

   #aboutproject{
    .container{
      ul{
        img{
          display: none;
        }
      }
    }
   }

   #form{
    .record{
     .message{
      textarea{
        width: 400px;
      }
     }
    }
   }
  #foot{
    .flex{
      flex-direction: column;
      gap: 2rem;
    }
  }
}


@media only screen and (max-width:523px){
  header{
    & .nav{
      & .list{
        width: 100%;
      }
    }
  }

  #product{
    .pro-img{
      display: none;
    }
  }

  #template{
    ul{
      flex-direction: column;
    }
  }
  #form{
    .record{
     .message{
      textarea{
        width: 320px;
      }
     }
    }
   }
}



