$royalblue-color:#2405F2;
$tintblue-color:#1C1E53;
$light-color: #F4F6FC;
$Darkblue-color:#282938;
$yellow-color: #FCD980;
$accent-color:#EEF4FA;
$drak-color:#1B1C2B;
$gray-color:#BBBBCB;
$white-color:#ffff;
$success-color:#2ecc71;
$error-color:#e74c3c;
$max-width: 114rem;
